/* 
Colors
Red: #c24f49 
Blue: #4484bc
White: #f1f4fa
Black: #374151

Font
font-family: 'Anton', sans-serif;
*/
 
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Neucha&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Neucha', cursive;
}

main {
  width: 100vw;
  min-height: 100vh;
}

.page_title {
  font-size: 52px;
  font-family: 'Anton', sans-serif;
}

/* Nav */

/* Search bar */


/* SuperheroCard */
.card {
  background-color: transparent;
  min-width: 240px;
  height: 360px;
  perspective: 1000px;
}

.card ::-webkit-scrollbar {
  width: 8px;
} 

.card ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.card ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.flip .card_inner {
  transform: rotateY(180deg);
}

.card_front,
.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}

.card_front {
  background: #4484bc;
  color: #f1f4fa;
  padding: 10px;
}

.superhero_main {
  border: 3px solid rgba(55, 65, 81, 0.85);
  border-bottom: none;
  height: 100%;
  position: relative;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top_left_dec {
  height: 10px;
  width: 30%;
  background-color: #4484bc;
  position: absolute;
  top: -3px;
  left: -3px;
  border-bottom: 3px solid rgba(55, 65, 81, 0.85);
}

.top_left_dec::after {
  content: '';
  background-color: #4484bc;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: -3px;
  border: 3px solid rgba(55, 65, 81, 0.85);
  border-top: 0;
  border-left: 0;
  transform-origin: bottom;
  transform: skew(-45deg);
}

.superhero_name {
  height: 60px;
  width: 100%;
  padding: 0 10px;
  background-color: rgba(55, 65, 81, 0.85);
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.superhero_name > h2 {
  font-size: 24px;
  line-height: 1em;
}

.superhero_alignment {
  height: 30px;
  width: 25%;
  background-color: #4484bc;
  position: absolute;
  bottom: 0;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.superhero_alignment::before {
  content: '';
  background-color: #4484bc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: top;
  transform: skew(-45deg);
}

.superhero_alignment > span {
  position: relative;
}

.card_back {
  background-color: #374151;
  color: #f1f4fa;
  transform: rotateY(180deg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.superhero_header {
  width: 100%;
  height: 36px;
  background-color: #4484bc;
  margin-top: 12px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.superhero_header > h2 {
  font-size: 20px;
}

.superhero_header > span {
  font-size: 14px;
}

.superhero_appearance {
  padding: 12px;
  display: flex;
  gap: 16px;
}

.superhero_image {
  width: 60px;
  height: 68px;
}

.superhero_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.superhero_appearance > div:nth-child(2) {
  width: auto;
}

.superhero_appearance > div:nth-child(2) > span {
  display: block;
  font-size: 14px;
  line-height: 1.28em;
}

.superhero_biography {
  border: 1px solid #4484bc;
  margin: 0 12px 12px;
  padding: 5px 10px;
  max-height: 86px;
  overflow-y: auto;
}

.superhero_biography > span {
  display: block;
  font-size: 14px;
  line-height: 1.28em;
}

.superhero_powerstats {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.superhero_powerstats > div,
.sh_powerstats_value {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 18px;
}

.superhero_powerstats span {
  font-size: 14px;
}

.sh_powerstats_name {
  width: 24px;
}

.sh_powerstats_value {
  flex: 1;
}

.superhero_powerstats_bar {
  height: 9px;
}

.sh_powerstats_value > span {
  min-width: 16px;
}